*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

.body-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

ul, a {
list-style-type: none;
text-decoration: none;
}

.nav, .header, .footer {
    background-color: #1F2937;
}

.footer {
    color: #f9faf8;
}

.hero-main-txt {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-secondary-txt, .header-link {
    font-size: 18px;
    color: #E5e7eb;
}

.header-logo-txt {
    font-size: 24px;
    color: #f9faf8;
}

button, .cta-wrapper {
    background-color: #3882f6;
}

.information-header-txt {
    font-size: 36px;
    font-weight: 800px;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

.quote-txt {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}
/* Basic styles above */




/* Navbar below */

.nav .container {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
}


/* Navbar above */


/* Header below */
.header {
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex: 1;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header-left {
    flex: 0 1 470px;
}

.header-left > button {
    margin-top: 10px;
    padding: 7px 20px;
    border-radius: 7px;
    border-style: none;
    color: #fff;
}

.placeholder-img {
    flex: 0 1 470px;
    color: #fff;
    background-color: #6d747d;
    text-align: center;
    line-height: 250px;
}

/* Header above */


/* Boxes below */

.boxes {
    padding: 50px 0 120px 0;
    display: flex;
    align-items: center;
    flex: 1;
    text-align: center;
}

.box-container {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
}

.box > img {
    width: 160px;
    height: 160px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.box > p {
    width: 160px;
}

/* Boxes above */




/* Quote below */

.quote {
    padding: 80px 0;
    display: flex;
    align-items: center;
    flex: 1;
}

.quote .container {
    max-width: 830px;
    display: flex;
    flex-direction: column;
}


.quote-p {
    align-self: flex-end;
}

/* Quote above */


/* CTA below */

.cta {
    color: #fff;
    flex: 1;
    padding: 50px 0;
    display: flex;
    align-items: center;
}

.cta-wrapper {
    width: 1100px;
    border-radius: 6px;
    padding: 50px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-wrapper > button {
    padding: 7px 20px;
    border-radius: 7px;
    border-color: #fff;
    color: #fff;
}

/* CTA above */





/* Footer below */

.footer {
    text-align: center;
    padding: 30px;
}

/* Footer above */